.articlePicture {
	float: right;
	padding-right: 40px;
	widows: 125px;
	height: 100px;
}

h3 {
	width: 800px;
}

.p {
	width: 800px;
	min-height: 50px;
	/* margin: 0 0 8px; */
	font-size: 13px;
	line-height: 24px;
	color: #666;
}
/* .spanIcon {
	margin-right: 5px;
	padding-right: 25px;
} */

span {
	margin-right: 15px;
}

.spanTime {
	margin-left: 40px;
}

.iconType {
	widows: 80px;
	display: inline-block;
}
